/* Primary color: #DD4040
  Gray color: #787891*/

.userform {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.userform label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.userform input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}
.input input:focus {
  outline: none;
  border-color: #4f005f;
}

/* .btn {
  font-size: 20px;

  padding: 6px 24px;
  background-color: #dd4040;
  color: #fceeee;
  border: none;
}
.btn:hover {
  background-color: #da2f2f;
}
.btn:active {
  background-color: #230606;
} */

/* THE ABOVE CSS IS MY OWN CSS */

/* .input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.input input:focus {
  outline: none;
  border-color: #4f005f;
} */
